/* Path: index.html */

:root {
  --color-1: #1a1711;
  --color-2: #FFFEFA;
  --color-3: #384E7A;
  --color-4: #486C69;
  --color-5: #ffcf4e;
}

@font-face {
  font-family: "notoSansCJK";
  src: url(/assets/fonts/SourceHanSansJP-Normal.otf);
}
@font-face {
  font-family: "Makinas4s";
  src: url(/assets/fonts/Makinas-4-Square.otf);
}
@font-face {
  font-family: "Makinas4f";
  src: url(/assets/fonts/Makinas-4-Flat.otf);
}

@keyframes loaded {
  to {
    transform: translate(100vw, 0);
  }
}

/* アニメーション */
.loaded {
  animation: loaded 1.2s ease forwards;
}

html {
  scroll-behavior: smooth;
}

span {
  color: var(--color-5) !important;
}
body {
  font-family: "Makinas4s", "notoSansCJK", sans-serif;
  margin: 0;
  padding: 0;
  color: var(--color-1);
  background-color: var(--color-2);
  height: 500vh;
}
.container {
  /* 中央に寄せる */
  margin: 0 auto;
  max-width: 1080px;
  width: 100%;
}

/* ロード画面 */
.loading {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: var(--color-4);
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: center;
}
.loading h1 {
  position: absolute;
  top: 30vh;
  font-family: "Makinas4s";
  text-align: center;
  font-size: 1.6vw;
  color: var(--color-2);
}
.loading img {
  position: relative;
  top: 4%;
  width: 12vw;
}


/* ヘッダー */
.header {
  display: flex;
  z-index: 1000;
  position: absolute;
  top: 0;
  width: 100%;
  height: 8vh;
}
.header-inner {
  display: flex;
  align-items: center;
  height: 100%;
}
.header-inner img {
  height: 3.2rem;
}
.header-inner h1 {
  font-family: 'Makinas4s';
  font-weight: 1000;
  font-style: oblique;
  font-size: 1.6rem;
  margin-left: 0.8rem;
  margin-top: 0.2rem;
  color: #000;
}


.slider {
  z-index: -1;
  position: fixed;
  width: 100%;
  height: 100vh;
}

.top {
  width: 100%;
  height: 100vh;
}

.philosophy {
  height: 100vh;
  width: 100%;
  color: var(--color-2);
  background-color: var(--color-3);
}
.philosophy h2 {
  font-size: 2.4rem;
  padding: 2rem 0 1rem 0;
}

.about {
  height: 100vh;
  width: 100%;
  background-color: var(--color-3);
}

